{call_type,[general,consistent]}.
{general,[log_engine]}.
{consistent,[log_engine2]}.

{log_engine,[
    [
        {id,1},
        {gen_server_type,1},
        {master_node,'log_engine@Henry-PC'},
        {slave_node,undefined},
        {server_name,'log_engine'},
        {source_tag,"1"},
        {timeout,2000},
        {status,online}
    ]}.
{log_engine2,[
    [
        {id,1},
        {gen_server_type,2},
        {master_node,'log_engine1@Henry-PC'},
        {slave_node,undefined},
        {server_name,'log_engine'},
        {v_node_num,100},
        {hash_base_key,"log_engine"},
        {source_tag,"1"},
        {timeout,2000},
        {status,online}
    ],
    [
        {id,2},
        {gen_server_type,2},
        {master_node,'log_engine2@Henry-PC'},
        {slave_node,undefined},
        {server_name,'log_engine'},
        {v_node_num,100},
        {hash_base_key,"log_engine"},
        {source_tag,"1"},
        {timeout,2000},
        {status,online}
    ]
]}.